__pycache__/
nohup.out
.vscode/
build/
install/
log/
/robot/assets/boundingboxes/publish/
/robot/assets/misc/time_recordings.json
/robot/assets/position_data/camera_readings.json
/robot/assets/position_data/offsets.json
/robot/assets/position_data/recordings.json
/robot/assets/position_data/robot.json

